@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');

:root {
  /* Color Palette */
  --main_green: #495E57;
  --main_yellow: #F4CE14;
  --salmon: #EE9972;
  --light_salmon: #FBDABB;
  --light_gray: #EDEFEE;
  --black: #333333;

  /* Font Styles */
  --title_font: 64px 'Markazi Text', serif;
  --subtitle_font: 40px 'Markazi Text', serif;
  --ledtext_font: 500 18px 'Karla', serif;
  --section_title_font: 800 20px 'Karla', serif;
  --categories_font: 800 16px  'Karla', serif;
  --card_title_font: 700 18px  'Karla', serif;
  --paragraph_font: 400 16px 'Karla', sans-serif;
  --highlight_font: 500 16px 'Karla', sans-serif;
}


/* Nav styles */
.nav {
  flex-grow: 1;
  font: var(--highlight_font);
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  height: 100%;
}

.nav-item {
  flex-grow: 1;
}

.nav-link {
  text-decoration: none;
  color: var(--black);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  background-color: var(--main_green);
  color: var(--light_gray)
}

/* Header styles */
.header {
  padding: 2rem 18%;
  background-color: var(--main_green);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.hero {
  padding-right: 6rem;
}

.hero-title {
  font: var(--title_font);
  color: var(--main_yellow);
  /* padding: 0; */
}

.hero-subtitle {
  font: var(--subtitle_font);
  color: var(--light_gray);
  margin-top: 0;
}

.hero-description {
  font: var(--ledtext_font);
  color: var(--light_gray);
  padding: 2rem 0;
  margin-right: 2rem;
}

.hero-button {
  background-color: var(--main_yellow);
  padding: 1rem 2rem;
  border: none;
  color: var(--black);
  font: var(--highlight_font);
  border-radius: 10px;
}

.hero-figure {
  position: relative;
}

.hero-img {
  border-radius: 10px;
  width: 100%;
  position: absolute;
  height: 25rem;
  object-fit: cover;
}

/* Main styles */
.main {
  padding: 5rem 18%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.section-title {
  font: var(--title_font);
  color: var(--black);
}

.cto-button {
  background-color: var(--main_yellow);
  padding: 1rem 2rem;
  border: none;
  color: var(--black);
  font: var(--highlight_font);
  border-radius: 10px;
}

.main-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Card styles */
.menu-card {
  background-color: var(--light_gray);
  /* background-color: red; */
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  /* display: grid; */
  /* grid-template-rows: 1fr 3fr; */
}

.menu-card__figure {
  display: grid;
  grid-template-rows: 40% 60%;
}

.menu-card__img {
  width: 100%;
  /* height: 40%; */
  display: block;
  object-fit: fill;
}

.menu-card__caption {
  padding: 1.5rem;
  display: grid;
  grid-template-rows: auto 2fr auto;
  /* justify-items: stretch; */
}

.caption-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caption-title {
  color: var(--black);
  font: semibold 24px 'Markazi Text', serif;
}

.caption-price {
  color: var(--salmon);
  font: var(--highlight_font);
}

.caption-body {
  margin: 1.5rem 0;
  font: var(--paragraph_font);
}

.caption-footer {
  display: flex;
  justify-content: space-between;
  /* color: var(--black); */
  font: var(--highlight_font);
}

.delivery-icon {
  width: 16px;
}

/* Footer Styles */
.footer {
  background-color: var(--light_gray);
  padding: 2rem 18%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.vertical-nav {
  padding: 0 0.5rem;
}

.footer-img {
  width: 40%;
  object-fit: cover;
}

.vertical-nav__title {
  font: var(--section_title_font);
}

.vertical-nav__list {
  padding: 0;
} 

.vertical-nav__item {
  list-style: none;
}

.vertical-nav__link {
  text-decoration: none;
  font: var(--highlight_font);
  color: var(--black);
}

/* Testimonials styles */
.testimonials {
  background-color: var(--main_green);
  padding: 4rem 18%;
}

.testimonials-title {
  color: var(--main_yellow);
  text-align: center;
  font-size: 40px;
  margin: 0 0 2rem ;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}


.testimonials-card {
  background-color: var(--light_gray);
  border-radius: 16px;
  padding: 2rem;
}

.card-rating {
  display: flex;
  justify-content: space-between;
}

.card-rating__star {
  width: 20px;
}

.testimonials-card-img {
  display: block;
  width: 100%;
  border-radius: 50%;
  margin: 1.5rem 0;
}

.card-curstomer-name {
  font: var(--section_title_font);
  font-size: 18px;
  color: var(--black);
  text-align: center;
}

.card-curstomer-review {
  margin-top: 0.5rem;
  font: var(--paragraph_font);
  text-align: center;
}

/* Testimonials card styles */
