* {
  box-sizing: border-box;
  margin: 0;
}

/* Defining layout */
body {
  display: grid;
  background-color: aqua;
}

.navegation {
  background-color: red;
  display: flex;
}

.header {
  background-color: blue;
}

.main {
  background-color: green;
}

.footer {
  background-color: yellow;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}